@font-face {
    font-family: 'amateur-blueprint-regular';
    src: url('font/amateurblueprint-webfont.woff2') format('woff2'),
         url('font/amateurblueprint-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontello';
    src: url('font/fontello.eot');
    src: url('font/fontello.eot') format('embedded-opentype'),
         url('font/fontello.woff2') format('woff2'),
         url('font/fontello.woff') format('woff'),
         url('font/fontello.ttf') format('truetype'),
         url('font/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

::selection {
    background-color:#2F2F2F;
    color: white;
}

::-webkit-scrollbar-track {
    background-color: none;
    width: 5px;
    opacity: 0%;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    background-color: none;
    opacity: 0%;
  }
  
  ::-webkit-scrollbar-thumb {

      border-radius: 100px;
      background-color: #2F2F2F;
      opacity: 50%;
  }
  
  ::-webkit-scrollbar-thumb:hover {
      opacity: 90%;
  }

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow-x: hidden;
    background-color: #f8f8f8;
}

.icon {
    background-image: url('https://mc-heads.net/head/coconut_junior');
    background-size: contain;
    background-repeat: no-repeat;
    height: 46;
    width: 46;
    position: fixed;
    top: 10;
    left: 10;
    transition: 0.3s;
}

.icon:hover {
    height: 42;
    width: 42;
    top: 14;
    left: 14;
    transform: rotate(15deg);
}

a {
    text-decoration: none;
    color: #2F2F2F;
    padding: 0px;
}

.footer a {
    margin: auto;
    text-align: center;
}

h1 {
    margin: auto;
    font-family: 'Poiret One', cursive;
    font-size: 48px;
    position: relative;
    opacity: 0;
}

h3 {
    margin: auto;
    font-family: 'Poiret One', cursive;
    font-size: 28px;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 20px;
}

h3 p {
    font-size: 16px;
    height: 128px;
}

h2 {
    margin: auto;
    margin-top:40px;
    margin-bottom: 40px;
    font-family: 'Poiret One', cursive;
    font-size: 48px;
    position: relative;
    transition: 1s;
    text-align: center;
    background-color: #f8f8f8;
}

.console {
    color: black;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    letter-spacing: 2px;
    padding-top: 24px;
}

.title {
    display: flex;
    flex-direction: row;
    background-color: rgba(255,255,255,0.9);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 40px;
    position: absolute;
    margin: auto;
    width: 512px;
    box-shadow: 5px 10px 30px 1px #725BA7;
    transition: 2s;
    opacity: 0.9;
}

a {
    text-decoration: none;
}

.circle {
    background-color:darkgray;
    height: 12px;
    width: 12px;
    margin: 12px;
    border-radius: 100%;
    position: absolute;
    top:0px;
    left: 0px;
}

p {
    transition: 2s;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 80px;
    width: auto;
    height: 20px;
    position: relative;
}

canvas {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    margin: auto;
    top: -40px;
}

.button {
    border-radius: 60px;

    box-shadow:  6px 6px 13px #c2c6c8, 
             -6px -6px 13px #ffffff;
    background: linear-gradient(145deg, #ffffff, #ebebeb);
    width: 64px;
    height: 64px;
    position: relative;
    border-radius: 10%;
    bottom: -100px;
    transition: 0.3s;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    z-index: 1;
}

.button:hover {

    cursor: pointer;
}

.button:active {
    border-radius: 50%;
}

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 720px;
    width: auto;
    background-color: #f8f8f8;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
    margin-top:0px;
    padding-top:0px;
    transition: 2s;
}

ul {
    display: flex;
    flex-direction: row-reverse;
    align-items: right;
    list-style: none;
    align-items: center;
    margin: 0;
}

li {
    margin: 18px;
    color: #2F2F2F;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.3s;
    text-align: center;
}

li:hover {
    letter-spacing: 2px;
}

.navbar {
    background-color: rgba(255,255,255,0.8);
    opacity: 0.8;
    width: 100%;
    height: 68px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 5px -20px 30px 1px;
    backdrop-filter: blur(10px);
    z-index:2;
}

.banner:hover p {
    opacity: 1;
}

canvas:hover h1 {
    opacity: 1;
}

.blueprint {
    font-family: 'amateur-blueprint-regular';
    font-size: 72px;
    text-align: center;
}

.colorful {
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 20s infinite linear;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(360deg);
    }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 40px;
    color: #2F2F2F;
    background-color: #e8f4ef;
  }

  .footer a {
      margin: 20px;
  }

  .footer p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    color: #2F2F2F;
    position: relative;
    margin: 40px;padding: 0;
  }

  .branding {
    background-image: url('images/can_blue.jpg');
    transition: 2s;
  }

  .colorpicker {
      border-radius: 100px;
      background-color: black;
      height: 64px;
      width: 64px;
      transition: 0.3s;
  }

  .dropdown {
    font-family: 'Poiret One', cursive;
    font-size: 36px;
    position: relative;
    cursor: pointer;
    text-align: center;
    background-image: -webkit-radial-gradient( #ffa2a2, #a8ffdb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 ul {
      flex-direction: column;
      margin-left: -35px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-align: center;
      height: 0px;
      opacity: 0%;
      text-align: center;
      margin-bottom: 40px;
  }

  h3 ul li {
      padding: 0px;
  }

  .photo {
      height: 128px;
      width: 128px;
      background-size: contain;
      background-repeat: no-repeat;
      margin: 40px;
      transition: 0.6s;
  }

  .bubble {
    height: 512px;
    width: 512px;
    background-color: #fff;
    box-shadow:
    inset 60px 0 120px #f0f,  /* left magenta */
    inset -60px 0 120px #0ff; /* right cyan */
    margin: auto;
    border-radius: 100%;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
  }

  .slink {
    height: 32px;
    width: 32px;
    font-size: 32px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  svg {
    zoom: 200%;
  }

  svg path {
      fill: url(#gradient);
  }

  .gallery {
    background-size:cover;
    background-repeat: no-repeat;
    height: 480px;
    border-radius: 40px;
    transition: 0.6s;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery img {
      opacity: 0;
      transition: 0.6s;
  }

  .gallery:hover img {
      opacity: 1;
  }

  #site a:hover .gallery {
      background-position-y: 180px;
  }

  .banner a {
      transition: 1s;
  }

  .banner a:hover{
      opacity: 80%;
  }

  h4 {
    font-size: 200px;
    font-family: 'Rajdhani', sans-serif;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-right: 120px;
    padding-left:80px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(-90deg, #d6f8e0, #f0e8f4);
  }

  #site {
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 80px;
      margin-left: 10px;
      height: auto;
  }

  #site a {
    height:480px; width: 60%;
  }
   
  .icon-shuffle:before { content: '\e800'; } /* '' */
  .icon-mail:before { content: '\e801'; } /* '' */
  .icon-linkedin:before { content: '\e802'; } /* '' */
  .icon-github-circled:before { content: '\e803'; } /* '' */
  .icon-download-alt:before { content: '\e804'; } /* '' */
  .icon-spin5:before { content: '\e838'; } /* '' */
  .icon-angellist:before { content: '\f209'; } /* '' */

  .infobox {
    display:flex;align-items:flex-end;height:480px;width:40%;
  }

  .infobox h3 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding:0px;
      text-align: left;
    margin:40px;
  }

  .infobox p {
      font-family: 'Rajdhani', sans-serif;
      text-align: left;
      margin:0px;
      margin-top:40px;
      padding:0px;
      width:80%;
  }

  .hamburger {
      background-image:url('images/menu.svg');
      background-size: contain;
      position: fixed;
      height: 36px ;
      width: 36px;
      right: 20px;
      visibility: hidden;
  }


  @media(max-width:720px) {
      #site {
          flex-direction: column;
          justify-content: center;
          align-items:center;
          height: auto;
      }
      #site a {
          width: 480px;
          margin: auto;
      }
      .gallery {
        width: 480px;
      }
      .infobox {
          width: auto;
          margin: auto;
          padding: 0px;
      }
      .infobox h3 {
          text-align: center;
          margin:0px;
          padding:0px;
          width:auto;
      }
      .infobox p {
          width:auto;
      }
      h4 {
          visibility: hidden;
          position: absolute;
      }
  }

  @media (pointer: coarse) {
    .hamburger {
        visibility: visible;
    }
    .navbar ul {
        visibility: hidden;
    }
    #site a {
        width:100%;
        margin: 40px;
    }
    .banner {
        margin: 40px;
        margin-top:0px;
    }
    .infobox {
        width: 100%;
        padding: 80px;
    }
    .infobox p {
        font-size: 36px;
    }
    .navbar {
        zoom: 2;
    }
    .dropdown {
        font-size: 64px;
    }
    h3 li {
        font-size: 36px;
    }
    .title {
        width: 80%;
    }
    .icon {
        visibility: hidden;
    }
    .button {
        zoom: 200%;
    }
    .icon {
        zoom: 200%;
    }
    .footer {
        zoom: 200%;
        height: auto;
    }
    h2 {
        font-size:72px;
    }
    h3 {
        font-size: 64px;
    }
    .circle {
        zoom:2;
    }
    .title {
        padding: 80px;
    }
    .title p {
        font-size: 64px;
    }
  }