:root{
    --color-black:#312A2A;
    --color-bunnywhite:#FAFCFF;
    --color-highlight:#E8F8FF;
    --color-primary:#f2f8ff;
    --color-secondary:#596AFF;
}
*{
    shape-rendering:geometricPrecision;
    -webkit-font-smoothing:subpixel-antialiased;
}
::selection{
    background-color:var(--color-black);
    color:#fff;
    -webkit-text-fill-color:var(--color-bunnywhite)
}
html{
    scroll-behavior:smooth;
    overflow-x:hidden;
}

a {
    font-weight: bold;
}

button {
    background: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.hero{
    width:80vw;
    height:90vh;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr;
    gap:40px;
    max-width:1024px;
    margin:auto;
    justify-content:center;
    align-content:center;
}
.hero-wrapper{
    height:100vh;
    width:100vw;
    margin:auto;
    display:flex;
    justify-content:center;
}
body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    background-color:var(--color-primary);
    font-family:CabinetGrotesk-Variable;
}
.link{
    position:absolute;
    height:46px;
    width:46px;
    bottom:40px;
    right:40px;
    border-radius:20%;
    background-color:#fff;
    background-image:url(images/link.svg);
    background-size:80%;
    background-repeat:no-repeat;
    background-position:center;
}
.santelmo{
    background-image:url(images/santelmo-banner.webp);
    background-size:cover;
    background-position:center;
}
.noon{
    background-image:url(images/noon.webp);
    background-size:cover;
    background-position:center;
}
.waterbears{
    background-image:url(images/waterbears.webp);
    background-size:cover;
    background-position:center;
}
.ang{
    background-image:url(images/ang-jacks-preview.webp);
    background-size:cover;
    background-position:center;
}
.baxter{
    background-image:url(images/baxter.webp);
    background-size:cover;
    background-position:center;
}
@keyframes show-track{
    100%{
        visibility:visible;
    }
}
input,textarea{
    color:#171b1d;
    background-color:var(--color-bunnywhite);
    font-size:24px;
    overflow:auto;
    border:6px solid var(--color-highlight);
    outline:2px dotted var(--color-highlight);
    box-shadow:inset 0 0 0 1px lightgrey;
    resize:none;
    padding:20px;
    transition:.3s;
    margin:2px;
    overflow-y:hidden;
    border-radius:15px;
    font-family:CabinetGrotesk-Variable
}
input:focus,textarea:focus{
    color:var(--color-black);
    -webkit-text-fill-color:var(--color-black);
    box-shadow:inset 0 0 0 1px transparent;
    outline:2px dotted var(--color-black)
}
.icon{
    background-image:url(https://mc-heads.net/head/coconut_junior);
    background-size:contain;
    background-repeat:no-repeat;
    height:46;
    width:46;
    position:fixed;
    top:10;
    left:10;
    transition:.3s
}
.icon:hover{
    height:42;
    width:42;
    top:14;
    left:14;
    transform:rotate(15deg)
}
a{
    text-decoration:none;
    color:#2f2f2f;
    padding:0
}
h1{
    margin:auto;
    font-size:36px;
    position:relative;
    color:#000;
    text-align:left;
    width:100%;
    font-weight: 800;
}
h3{
    color:#000;
    position:absolute;
    z-index:1;
    text-align:left;
    padding:5px 10px 5px 10px;
    background-color:rgba(255,255,255,.8);
    margin:auto;
    font-size:21px;
    width:auto;
    text-align:center;
    top:20px;
    left:20px;
    border-radius:5px;
}
h2{
    margin:auto;
    padding-bottom:20px;
    padding-top:20px;
    font-size:1.5em;
    position:relative;
    transition:1s;
    text-align:center;
}
.wrapper{
    position:relative;
    margin:auto;
    max-width:1024px;
    height:auto;
    background-color:var(--color-primary);
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:40px;
    padding-top:150px;
    padding-bottom:0;
    padding-left:40px;
    padding-right:40px;
    margin-bottom:80px;
}
.foodiez{
    background-color:#f18c7d;
    background-image:url(images/foodiez_light.webp);
    background-size:cover;
    background-position:center;
    border-radius:20px;
}
.blueprint{
    background-color:#b09af8;
    background-image:url(images/blueprint_preview.webp);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    border-radius:20px;
}
.stetson{
    background-color:#f1eee9;
    background-image:url(images/stetson.webp);
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    display:flex;
    align-items:left;
    justify-content:left;
}
.form{
    color:#000;
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content:center;
    position:relative;
    background:var(--color-highlight);
    height:auto;
    padding:40px;
    border:2px solid rgba(0,0,0,.05);
}
.form p{
    font-size:1em
}
.feature{
    display:flex;
    background:#4838d9;
    background-image:url(images/stellar.gif);
    background-size:60%;
    background-position:center;
    background-repeat:no-repeat;
}
@keyframes wobble{
    25%{
        transform:rotate(10deg)
    }
    50%{
        transform:rotate(-10deg)
    }
}
a{
    text-decoration:none;
    display:block;
    padding:5px 0 5px 0
}
p{
    font-size:18px;
    line-height:1.5;
    font-weight:400;
    margin:auto;
    width:auto;
    position:relative;
    color:#171b1d
}

.button{
    font-family:Asap,sans-serif;
    border-radius:60px;
    border:2px solid #171b1d;
    width:64px;
    height:64px;
    position:relative;
    border-radius:10%;
    transition:.6s;
    font-size:28px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:auto;
    margin-top:40px;
    top:100px;
    z-index:1
}

@keyframes blink{
    0%{
        opacity:1
    }
    50%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
.button:hover{
    background-color:#171b1d
}
.button:active{
    border-radius:50%
}
.send-icon{
    opacity:0
}
.send-button p{
    padding:0;
    left:-15px
}
.logo{
    margin:auto;
    background-image:url(images/logo-solid.svg);
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    height:42px;
    width:128px
}
.loader{
    height:100vh;
    width:100vw;
    background-color:var(--color-bunnywhite);
    position:absolute;
    top:0;
    left:0;
    z-index:3;
    display:flex;
    align-items:center;
    justify-content:center;
    animation:hide 2.5s linear forwards
}
.loader-box{
    position:absolute;
    height:96px;
    width:96px
}
#blob{
    fill:var(--color-secondary);
    position:absolute;
    animation:fillin .5s linear forwards;
    height:0;
    width:0
}
@keyframes hide{
    90%{
        transform:scale(1);
        opacity:1
    }
    96%{
        transform:scale(.5)
    }
    100%{
        pointer-events:none;
        opacity:0;
        transform:scale(0)
    }
}
@keyframes fillin{
    from{
        height:0;
        width:0
    }
    to{
        height:500vh;
        width:500vw
    }
}
.loader-box #logo{
    fill:#fafcff;
    stroke:#fafcff;
    stroke-dasharray:300;
    stroke-dashoffset:0;
    stroke-width:.25;
    -webkit-animation:trace 2s linear forwards;
    animation:trace 2s linear forwards
}
.loader #logo{
    margin:auto
}
.contact{
    color:var(--color-bunnywhite);
    background-color:var(--color-black);
    border-radius:10px;
    padding:20px;
    gap:10px;
    height:36px;
    width:auto;
    margin-top:20px;
    text-align:center;
    transition:1s;
    display:flex;
    flex-direction:row;
    overflow:hidden;
    align-items:center;
    justify-content:center;
    font-weight:700;
    width: 160px;
}
.contact svg{
    margin-top:8px;
    stroke:var(--color-bunnywhite);
}
#send{
    display:flex;
    align-items:center;
    justify-content:center;
    stroke-width:2;
    padding-bottom:5px;
}
@keyframes bounce{
    50%{
        padding-bottom:5px;
    }
    75%{
        padding-bottom:10px;
    }
}
#line{
    stroke-width:2;
    stroke-dasharray:4;
    stroke-dashoffset:0;
    animation:fly 2s linear infinite
}
@keyframes fly{
    100%{
        stroke-dashoffset:20
    }
}
#send{
    left:96px;
    transition:.6s
}
.contact p{
    top:7px;
    left:-75px
}
.contact:hover #send{
    opacity:1;
    left:15;
    animation:bounce 1s infinite
}
.footer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:auto;
    width:auto;
    padding:40px;
    color:var(--color-black);
    background-color:var(--color-highlight)
}
.footer #link{
    text-align:center;
    height:46px;
    width:46px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:20px;
    padding:4px;
    border-radius:50%;
    border:2px solid #171b1d;
    transition:.6s
}
.footer #link:hover{
    background-color:#171b1d
}
#site{
    flex-direction:row;
    flex-wrap:wrap;
    padding-top:80px;
    height:auto
}
#site a{
    height:480px;
    width:50%
}
.background{
    background-position:center;
    background-size: 200%;
    background-repeat:no-repeat;
    height:80vh;
    width:100%;
    border-radius:20px;
    margin:auto;
    background-color: black;
}
.arrow{
    height:48px;
    width:48px;
    stroke:#171b1d;
    animation:point 2s infinite
}
@keyframes point{
    from{
        margin-top:0;
        opacity:1
    }
    to{
        margin-top:64px;
        opacity:0
    }
}
.name-first{
    grid-area:first
}
.name-last{
    grid-area:last
}
.name-first,.name-last{
    width:auto
}
.mobile-link{
    margin:auto;
    height:48px;
    width:48px;
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat
}
#widget{
    padding:40px;
    height:30vh;
    border-radius:20px;
    transition:.3s
}
#send{
    height:46px;
    width:46px;
    fill:none
}
.cursor-dot{
    mix-blend-mode:difference;
    pointer-events:none;
    height:12px;
    width:12px;
    background-color:#fff;
    border-radius:50%;
    position:absolute;
    transition:.3s
}
.cursor{
    display:flex;
    align-items:center;
    justify-content:center;
    mix-blend-mode:difference;
    position:absolute;
    height:80px;
    width:80px;
    background-color:transparent;
    border-radius:50%;
    border:1px solid rgba(255,255,255,.1);
    z-index:3;
    pointer-events:none
}
#first-last{
    width:565px;
    display:block;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas:"first last"
}
#phone{
    width:512px
}
.message{
    width:512px;
    height:20vh
}
#widget:hover{
    scale:1.05
}
#home-button{
    position:relative;
    margin:auto
}
@media (max-width:1024px){
    .hero,.hero-wrapper{
        height:auto;
        grid-template-columns:1fr;
        grid-template-rows:1fr 1fr
    }
    .hero {
        margin-top: 10%;
    }
    .arrow{stroke-width: 2px; }
    .background {background-size: 250%;}
    .wrapper{
        width:auto;
        grid-template-columns:1fr
    }
}
@media (pointer:coarse) and (min-width:240px) and (max-width:1024px){
    @keyframes fillin{
        from{
            height:0;
            width:0;
        }
        to{
            height:100vh;
            width:100vw;
        }
    }
    #widget:hover{
        scale:1;
    }
    h1{
        font-size:4em;
    }
    p{
        font-size: 2em;
    }
    h3{
        font-size: 2.5em;
    }
    .loader svg{
        scale:1
    }
    .cursor{
        display:none
    }
    #contact-button{
        width:46%;
        margin:auto;
        height:80px;
        margin-top:40px
    }
    .contact{
        width:100%;
        height:100%;
        margin:0;
        padding:0
    }
    #first-last{
        margin:0;
        grid-template-columns:1fr;
        grid-template-rows:1fr 1fr;
        grid-template-areas:"first" "last"
    }
    #send{
        width:60px;
        height:30px;
        padding-bottom:10px;
        margin-bottom:100px;
        margin:auto
    }
    #line,#send{
        stroke-width:1px
    }
    input,textarea{
        background-color:transparent;
        -webkit-text-fill-color:var(--color-bunnywhite);
        width:100%;
        outline-width:2px;
        border-radius:0;
        float:clear;
        margin:0;
        margin-top:10px;
        box-shadow:inset 0 0 0 1px var(--color-bunnywhite)
    }
    #widget{
        border-radius:40px
    }

    #site a{
        width:100%;
        padding:40px
    }
    .button{
        display:none
    }
    .footer{
        padding-bottom:140px
    }
    .footer h2{
        margin-bottom:40px;
        font-size:2em
    }
    h2{
        font-size:3em
    }
    .loader-box{
        height:200px;
        width:200px
    }
    .link{
        height:100px;
        width:100px
    }
    #contact-button,#first-last,#phone,.message{
        width:80%
    }
    .message{
        height:10vh
    }
}
#home-button{
    display:none
}
