@font-face {
    font-family: 'amateur-blueprint-regular';
    src: url('font/amateurblueprint-webfont.woff2') format('woff2'),
         url('font/amateurblueprint-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontello';
    src: url('font/fontello.eot');
    src: url('font/fontello.eot') format('embedded-opentype'),
         url('font/fontello.woff2') format('woff2'),
         url('font/fontello.woff') format('woff'),
         url('font/fontello.ttf') format('truetype'),
         url('font/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

::selection {
    background-color:#2F2F2F;
    color: white;
}

::-webkit-scrollbar-track {
    background-color: none;
    width: 5px;
    opacity: 0%;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    background-color: none;
    opacity: 0%;
  }
  
  ::-webkit-scrollbar-thumb {

      border-radius: 100px;
      background-color: #2F2F2F;
      opacity: 50%;
  }
  
  ::-webkit-scrollbar-thumb:hover {
      opacity: 90%;
  }

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: inline-block;
    overflow-x: hidden;
    background-color: #fff;
}

.icon {
    background-image: url('https://mc-heads.net/head/coconut_junior');
    background-size: contain;
    background-repeat: no-repeat;
    height: 46;
    width: 46;
    position: fixed;
    top: 10;
    left: 10;
    transition: 0.3s;
}

.icon:hover {
    height: 42;
    width: 42;
    top: 14;
    left: 14;
    transform: rotate(15deg);
}

a {
    text-decoration: none;
    color: #2F2F2F;
    padding: 0px;
}

.footer a {
    margin: auto;
    text-align: center;
}

h1 {
    margin: auto;
    font-family: 'Poiret One', cursive;
    font-size: 48px;
    position: relative;
    opacity: 0;
}

h3 {
    margin: auto;
    font-family: 'Poiret One', cursive;
    font-size: 36px;
    position: relative;
    width: 100%;
    text-align: center;
}

h2 {
    margin: auto;
    font-family: 'Poiret One', cursive;
    font-size: 48px;
    position: relative;
    transition: 1s;
    text-align: center;
    background-color: #f8f8f8;
}

.console {
    color: gainsboro;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    padding-top: 24px;
}

.title {
    display: flex;
    flex-direction: row;
    background-color: #2F2F2F;
    border-radius: 5px;
    padding: 40px;
    position: relative;
    margin: auto;
    width: 512px;
    box-shadow: 5px 10px 30px 1px darkgray;
}

a {
    text-decoration: none;
}

.circle {
    background-color:darkgray;
    height: 12px;
    width: 12px;
    margin: 12px;
    border-radius: 100%;
    position: absolute;
    top:0px;
    left: 0px;
}

p {
    opacity: 0;
    transition: 2s;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 80px;
    width: auto;
    height: 20px;
    position: relative;
}

canvas {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    zoom: 1;
}

.button {
    background-color: rgba(255,255,255,0.9);
    opacity: 0.8;
    width: 64px;
    height: 64px;
    position: absolute;
    border-radius: 10%;
    top: 128px;
    right: 96px;
    transition: 0.3s;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
    height: 72px;
    width: 72px;
    top: 124px;
    right: 92px;
    cursor: pointer;
}

.button:active {
    border-radius: 50%;
}

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    height: 720px;
    width: auto;
    background-color: #f8f8f8;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    transition: 2s;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-direction: row-reverse;
    align-items: right;
    list-style: none;
    align-items: center;
    margin: 0;
}

li {
    margin: 18px;
    color: #2F2F2F;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.3s;
    text-align: center;
}

li:hover {
    letter-spacing: 2px;
}

.navbar {
    background-color: rgba(255,255,255,0.8);
    opacity: 0.8;
    width: 100%;
    height: 68px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 5px -20px 30px 1px;
    backdrop-filter: blur(90%);
}

.banner:hover p {
    opacity: 1;
}

canvas:hover h1 {
    opacity: 1;
}

.blueprint {
    font-family: 'amateur-blueprint-regular';
    font-size: 72px;
    text-align: center;
}

.colorful {
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 20s infinite linear;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(360deg);
    }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }

  .footer {
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 40px;
    color: #2F2F2F;
    box-shadow: 5px -138px 30px 1px;
    background-color: rgba(255,255,255,0.9);
  }

  .branding {
    background-image: url('images/can_blue.jpg');
    transition: 2s;
  }

  .colorpicker {
      border-radius: 100px;
      background-color: black;
      height: 64px;
      width: 64px;
      transition: 0.3s;
  }

  .dropdown {
    font-family: 'Poiret One', cursive;
    font-size: 36px;
    position: relative;
    cursor: pointer;
    text-align: center;
    background-image: -webkit-linear-gradient(92deg, #A2FFB7, #65CCAD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 ul {
      flex-direction: column;
      margin-left: -35px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-align: center;
      height: 0px;
      opacity: 0%;
      text-align: center;
      margin-bottom: 40px;
  }

  h3 ul li {
      padding: 0px;
  }

  .photo {
      height: 128px;
      width: 128px;
      background-size: contain;
      background-repeat: no-repeat;
      margin: 40px;
      transition: 0.6s;
  }

  .bubble {
    height: 512px;
    width: 512px;
    background-color: #fff;
    box-shadow:
    inset 60px 0 120px #f0f,  /* left magenta */
    inset -60px 0 120px #0ff; /* right cyan */
    margin: auto;
    border-radius: 100%;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: color-burn;
  }

  .slink {
      height: 42px;
      width: 42px;
      font-size: 32px;
      margin: auto;
      position: relative;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/GitHub-Mark-64px.png');
    background-size: contain;
  }
  svg {
    zoom: 200%;
  }

  svg path {
      fill: url(#gradient);
  }

  .gallery {
    background-size:cover;
    background-repeat: no-repeat;
    height: 512px;
    width: 512px;
    margin: 40px;
    border-radius: 10px;
    transition: 0.6s;
  }

  .gallery:hover {
    border-width: 10px;
    border-color: rgba(252, 252, 252, 0.5);
    border-style: solid;
    padding: 10px;
    
  }
   
  .icon-shuffle:before { content: '\e800'; } /* '' */
  .icon-mail:before { content: '\e801'; } /* '' */
  .icon-linkedin:before { content: '\e802'; } /* '' */
  .icon-github-circled:before { content: '\e803'; } /* '' */
  .icon-download-alt:before { content: '\e804'; } /* '' */
  .icon-spin5:before { content: '\e838'; } /* '' */
  .icon-angellist:before { content: '\f209'; } /* '' */

  @media (pointer: coarse) {
    
    .navbar {
        zoom: 200%;
    }
    .button {
        zoom: 200%;
    }
    .icon {
        zoom: 200%;
    }
    #resume {
        zoom: 200%;
    }
    
    .footer {
        zoom: 200%;
    }
    .bubble {
        position: fixed;
        top: -256px;
        right: -256px;
    }
    p {
        opacity: 100%;
        zoom: 200%;
        top: -100px;
    }
  }


  @media (pointer: none) {
    body {
        zoom: 110%;
    }
  }