:root {
    --color-bunnywhite:#FAFCFF;
    --color-highlight:#E4F1FF;
    --color-primary: #f2f8ff;
    --color-secondary: #596AFF;
}

* {
  font-family: "Asap";
  font-size: 1em;
}

body {
  background-color: var(--color-bunnywhite);
}

#logo {
	position:absolute;
	top:0;left:0;
	height:10vh;
	width:10vh;
	padding:40px;
	pointer-events:none;
}

#blob {
	position:absolute;
	top:-20vh;left:-20vh;
	height:60vh;
	width: 60vh;
	transition:0.6s;
}

#blob:hover {
	height:70vh;
	width:70vh;
}

::selection {
  background-color: #596AFF;
  color:white;
}

h1,h2, p {
  width: 50%;
  margin: auto;
  padding: 40px;
}

h1 {
  font-size: 2em;
  text-align: center;
  color: var(--color-secondary);
  padding:80px;
}

h2 {
  font-size: 1.75em;
}

img,iframe {
	width: 50vw;
	margin-left:25%;
}

p {
  line-height: 160%;
}

.button {
	text-decoration: none;
	color: var(--color-bunnywhite);
    background-color: var(--color-secondary);
    border-radius:10px;
    padding: 20px;
	text-align:center;
    font-family: 'Asap', sans-serif;
	font-size: 1em;
    height: 36px;
    width: 10vw;
    transition: 1s;
    display: flex;
    flex-direction: row;
	align-items:center;
	justify-content:center;
    overflow: hidden;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 80px;
}

@media (pointer: coarse) and (min-width: 240px) and (max-width: 1024px) {
	* {
	  font-size: 1.5em;
	}
	h1 {
	  font-size: 2em;
	  height: 50vh;
	  width: 80%;
	  display:flex;align-items:center;justify-content:center;
	}
	h2 {
	  font-size: 1.75em;
	}
	h1,h2, p {
	  width: 80%;
	  margin: auto;
	  padding: 80px;
	}
	img,iframe {
		margin:0;
		width: 100vw;
	}
	.button {
		height: 5vh;
		width: 60vw;
		
	}
}



