:root {
    --color-bunnywhite:#FAFCFF;
    --color-highlight:#E4F1FF;
    --color-primary: #f2f8ff;
    --color-secondary: #596AFF;
}

* {
  font-family: "Asap";
  font-size: 16px;

}

body {
  background-color: var(--color-bunnywhite);
}

::selection {
  background-color: #596AFF;
  color:white;
}

h1,h2,.image, p {
  width: 50%;
  margin: auto;
  padding: 40px;
}

h1 {
  font-size: 36px;
  color: var(--color-secondary);
}

h2 {
  font-size: 24px;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-secondary);
  height: 50vh;
}

p {
  line-height: 160%;
}
