:root {
    --color-bunnywhite:#FAFCFF;
    --color-highlight:#E4F1FF;
    --color-primary: #f2f8ff;
    --color-secondary: #596AFF;
}

* {
  font-family: "Asap";
  font-size: 1em;
  margin:0;padding:0;
}

body {
  background-color: var(--color-bunnywhite);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

::selection {
  background-color: #596AFF;
  color:white;
}

.button {
	text-decoration: none;
	color: var(--color-bunnywhite);
    background-color: var(--color-secondary);
    border-radius:10px;
    padding: 20px;
	text-align:center;
    font-family: 'Asap', sans-serif;
	font-size: 1em;
    height: 36px;
    width: 10vw;
    margin-top: 20px;
    transition: 1s;
    display: flex;
    flex-direction: row;
	align-items:center;
	justify-content:center;
    overflow: hidden;
	margin: 40px;
}

h2,img, p {
  width: 60%;
  margin: auto;
  padding: 40px;
}

a {background-color:transparent;}

h1 {
  font-size: 2em;
  color: var(--color-secondary);
  padding:80px;
  display:flex;align-items:center;justify-content:center;
  font-size: 2em;
  color: var(--color-secondary);
  margin:auto;
  height:25vh;
  width:100%;
  text-align:center;
  background-color: white;
  margin-bottom:40px;
  
}

#logo {
	position:absolute;
	top:0;left:0;
	height:10vh;
	width:10vh;
	padding:40px;
	pointer-events:none;
}

#blob {
	position:absolute;
	top:-20vh;left:-20vh;
	height:60vh;
	width: 60vh;
	transition:0.6s;
}

#blob:hover {
	height:70vh;
	width:70vh;
}

h2 {
  font-size: 1.75em;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-secondary);
  height: 50vh;
img {
  height: auto;
  margin-bottom:40px;
}

p {
  line-height: 160%;
}

@media (pointer: coarse) and (min-width: 240px) and (max-width: 1024px) {
	* {
	  font-size: 1.5em;
	}
	body {background-color:red;}
	h1 {
	  height:60vh;
	  font-size: 2em;
	}
	
	h2 {
	  font-size: 1.75em;
	}
	
	.button {
		font-size: 1.5em;
		width: 80vw;
		height: 10vh;
	}

	h1,h2,.image, p {
	  width: 90%;
	  margin: auto;
	  padding: 80px;
	}

}
